ENVTYPE=dev
# ENVTYPE=production

DB_HOST=localhost
DB_PORT=3306
DB_DB=ducks
DB_USER=ducks
DB_PASSWORD=

PAYCONIQ_API_KEY=*************

PUBLIC_URL=https://cust.cdy.be/ducks/

APP_PASSWORD=****

MAIL_FROM=info@adoptetoncanardathois.be

